/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Window
==============================*/
.window {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(120deg, rgba(219,182,176,1) 0%, rgba(205,133,141,1) 100%);
    backdrop-filter: blur(5px);
}


/* App
==============================*/
.app {
    background: linear-gradient(120deg, rgba(219,182,176,1) 0%, rgba(205,133,141,1) 100%);
    width: 400px;
    height: 400px;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
}


/* Header
==============================*/
.header {
    background-color: rgba(255,255,255,.20);
    height: 50px;
}

.header_menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center
}

.header_menu__item {
    text-align: center;
    line-height: 30px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.header_menu__item:hover {
    background-size: 100% 2px;
}


/* Tests Popup
==============================*/
.tests_popup {
    width: 400px;
    min-height: 400px;
    opacity: 0;
    background-color: rgba(255,255,255,.0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    transition: all 0.5s ease;
    transform: translateY(-410px);
    visibility: hidden;
}

.tests_popup_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-400px);
    backdrop-filter: blur(5px);
}

.tests_popup_window {
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,.40);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
}

.tests_popup_window__item {
    width: 60%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.tests_popup_window__item:hover {
    background-size: 100% 2px;
}

.coming_soon_button {
    cursor: wait;
}


/* Tests Popup
==============================*/
.contacts_popup {
    width: 400px;
    min-height: 400px;
    background-color: rgba(255,255,255,.0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(-810px);
    visibility: hidden;
}

.contacts_popup_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-800px);
    backdrop-filter: blur(5px);
}

.contacts_popup_exit_button {
    position: relative;
}

.contacts_popup_window {
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,.40);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    padding: 20px 0;
}

.contacts_popup_window__item {
    width: 60%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.contacts_popup_window_links {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.contacts_popup_window_links:hover {
    background-size: 100% 2px;
}

.contacts__link {
    text-decoration: none;
    color: #000000;
    margin-left: 5px;
}

.contacts_popup_exit {
    margin-left: 5px;
}


/* Content
==============================*/
.content {
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
}

.content_path__item {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.path_label {
    min-width: 90px;
}

.path_input {
    width: 270px;
    background-color: rgba(255,255,255,.30);
    border-radius: 5px;
    border: none;
}

.path_input:focus {
    outline: none;
}

.content_bottom {
    min-height: 210px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.file_format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 170px;
    background-color: rgba(255,255,255,.20);
    border-radius: 5%;
}
.file_format__header {
    background-color: rgba(255,255,255,.50);
    border-radius: 5%;
    margin: 0px 10px 15px 10px;
    text-align: center;
}

.file_format__item {
    margin-left: 40px;
}

.content_bottom__buttons {
    width: 40%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,.20);
    border-radius: 5%;
    padding: 20px 0px;
}

.buttons__item {
    width: 90px;
    height: 35px;
    background-color: rgba(255,255,255,.0);
    border: none;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.buttons__item:hover {
    background-size: 100% 2px;
}


/* Footer
==============================*/
.footer {
    background-color: rgba(255,255,255,.20);
    height: 20px;
    line-height: 20px;
}

.footer__item {
    width: 60px;
    margin-left: 300px;
    text-align: center;
    cursor: default;
    position: relative;
    display: inline-block;
}

.footer__item .footer_toolitip {
    visibility: hidden;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
    margin-bottom: 5px;
    background-color: rgba(255,255,255,.20);
    opacity: 0;
    transition: all 0.3s ease;
}

.footer__item .footer_toolitip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255,255,255,.20) transparent transparent transparent;
}

.footer__item:hover .footer_toolitip {
    visibility: visible;
    opacity: 1;
}
